# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AsteoridsInSpace.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Developing\Games\Asteorids in Space\.idea\.idea.AsteoridsInSpace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
